<section id="dashboard-list">
	<div class="container">
		<div class="panel panel-default panel-card-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nama Pengguna</th>
						<th>Posisi</th>
						<th>Jumlah Laporan</th>
						<th>
							<button type="button" class="btn btn-primary">Tambah User</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Lorem Ipsum</td>
						<td>Dolor Sit Amet</td>
						<td>120</td>
						<td>
							<button type="button" class="btn btn-default">Edit</button>
							<button type="button" class="btn btn-danger">Hapus</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>