<section id="dashboard-list">
	<div class="container">
		<div class="panel panel-default panel-card-table">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Icon</th>
						<th>Nama Kategori</th>
						<th>User Terkait</th>
						<th>Jumlah Laporan</th>
						<th>
							<button type="button" class="btn btn-primary">Tambah Kategori</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="fa fa-ambulance fa-lg"></i></td>
						<td>Lorem Ipsum</td>
						<td><a href="#">Dolor Sit Amet</a></td>
						<td>120</td>
						<td>
							<button type="button" class="btn btn-default">Edit</button>
							<button type="button" class="btn btn-danger">Hapus</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>