<div class="navbar navbar-second">
	<ul class="nav navbar-nav">
		<li ui-sref-active="active"><a href ui-sref="verify.web">Web</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.android">Android</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.facebook">Facebook</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.twitter">Twitter</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.qlue">Qlue</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.sms">SMS</a></li>
		<li ui-sref-active="active"><a href ui-sref="verify.telephone">Telephone</a></li>
	</ul>
</div>